@media (min-width: 1920px)
    .about
        &__promo 
            &-text 
                margin-left: 225px
                .default-text
                    margin-left: 140px
@media (max-width: 1700px)
    .about
        .img_bg
            transform: translate(-50%,-50%)
        &__promo 
            padding: 100px 0px 50px
            min-height: 750px
            &-text 
                margin-left: 0
                .default-text
                    width: 38vw
                    margin-bottom: 16px
            &-image 
                bottom: -12.5vw
        &__info 
            &-cards 
                &-item 
                    img 
                        max-height: 150px
                &-garant 
                    padding: 30px
@media (max-width: 1400px)
    .about
        &__info 
            &-cards
                grid-template: auto / repeat(3, 1fr)
                &-garant 
                    grid-column: 2 / 4
                    border-radius: 0 0 20px 20px
                    min-height: 300px
                    img 
                        width: 25vw
@media (max-width: 1200px)
    .about
        &__info 
            &-cards 
                &-garant 
                    min-height: 230px
                &-item 
                    padding: 15px
                    img 
                        max-height: 125px
        &__promo 
            min-height: 630px
            &-text 
                .default-text 
                    margin-left: 0
            &-image 
                bottom: -15vw
                width: 77vw
                right: -7vw
@media (max-width: 992px)
    .about
        &__info 
            &-text 
                width: 100%
            &-cards
                &-garant 
                    grid-column: 1 / 4
                    img 
                        width: 29vw
        &__promo 
            &-text 
                .default-text
                    width: 48vw
            &-image 
                bottom: -15vw
                width: 91vw
                right: -30vw
@media (max-width: 768px)
    .about
        &__info 
            &-cards
                grid-template: auto / 1fr 1fr
                &-garant 
                    grid-column: 1 / 3
                    padding: 15px
                    min-height: 210px
                    img 
                        width: 34vw
@media (max-width: 576px)
    .about
        &__promo 
            padding: 100px 0px 0px
            & > .container
                padding-bottom: 250px
            &-text 
                .default-text
                    padding-left: 50px
                    width: 100%
            &-image 
                width: 496px
                bottom: -69px
                right: 50%
                transform: translateX(44%)
        &__info 
            &-cards 
                &-item 
                    img 
                        max-height: 90px
                &-garant 
                    & > span 
                        max-width: 350px
@media (max-width: 400px)
    .about 
        &__info 
            &-cards
                grid-template: auto / 1fr
                &-garant
                    grid-column: unset