@media (min-width: 1920px)
    .catalog
        &__left
            margin-right: 150px
        &__list 
            &-item 
                .image 
                    .brand 
                        max-height: 68px
@media (max-width: 1700px)
    .catalog
        &__filter 
            width: 20vw
            margin-right: 2vw
        &__list 
            gap: 10px
            &-item
                .image
                    .brand 
                        width: 7vw
                        max-height: 4vw
@media (max-width: 1200px)
    .catalog
        &__rating 
            &-wrap 
                margin-left: 0
            &-name 
                min-width: 200px
            & > span 
                display: none
        &__filter 
            position: fixed
            z-index: 11
            left: 0
            top: 0
            background: $white
            height: 100%
            max-width: unset
            width: 400px
            padding: 40px 30px
            overflow: auto
            opacity: 0
            visibility: hidden
            transition: 0.4s all
            &.active 
                opacity: 1
                visibility: visible
            &-close 
                display: flex
            &-btn
                &.desk
                    display: none
                &.mobile
                    display: flex
            &-call 
                display: flex
        &__info 
            margin-bottom: 20px
        &__list 
            &.four
                grid-template: auto / repeat(3, 1fr)
            &-item
                padding: 15px 8px
                .image
                    .brand
                        width: 10vw
                        max-height: 5vw
                    .preview
                        width: 24vw
                        height: 19vw
                    .wishlist-btn
                        width: 34px
                        height: 34px
                        min-width: 34px
                .text
                    margin-top: 10px
                .bott
                    .counter
                        margin-left: 10px
@media (max-width: 768px)
    .catalog
        &__rating 
            &-name 
                min-width: 180px
                padding: 10px
                img 
                    width: 10px
                    min-width: 10px
            &-list 
                span 
                    padding: 10px
@media (max-width: 576px)
    .catalog
        &__info 
            flex-wrap: wrap
            gap: 10px
            & > span 
                width: 100%
                text-align: right
        &__filter 
            width: 100%
        &__list
            grid-template: auto / 1fr 1fr
            &.four
                grid-template: auto / 1fr 1fr
            &-item 
                .image
                    .preview
                        width: 35vw
                        height: 27vw
                    .brand
                        width: 17vw
                        max-height: 8.5vw
@media (max-width: 370px)
    .catalog
        &__filter
            &-call 
                padding: 12px 20px
        &__rating 
            font-size: 10px
            &-name 
                min-width: 156px
        &__list
            grid-template: auto / 1fr
            &.four
                grid-template: auto / 1fr
            &-item 
                .image
                    .preview
                        width: 70vw
                        height: 52vw
                    .brand
                        width: 31vw
                        max-height: 17vw